#contact iframe
{
    width: 100%;
}
body{
background-color:rgb(229, 204, 253);

}
.movie_review{
    font-size: 20px;
    padding:6px 22px;
    border-radius: 20px;
    margin-bottom: 20px;
}
.movie_review i{
float:right;
}
.jurasic_review{
    font-size: 20px;
    padding:6px 22px;
    border-radius: 20px;
    margin-bottom: 20px;
}
.jurasic_review i{
float:right;
}
.book{
    margin-bottom: 20px;
}
img{

    width:50%;
}

